@model Shopping.Models.Products

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.category.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.desrition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desrition)
        </dd>

        <dt>
            <label class="custom-control-label">Hình ảnh</label>
        </dt>

        <dd>
            <img src="@Model.thumbnail" class="img-circle" alt="Error" width="250" height="250" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
